@font-face
{
font-family: Oradano–¾’©;
src: url('https://cdn.leafscape.be/Oradano/oradano-mincho-t_web.woff2')
 format("woff2");
}


@font-face
{
font-family:"HOKKORI" ;
src: url('https://cdn.leafscape.be/HOKKORI/HOKKORI.woff')
     format("woff2");
}
